%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle.gravatar-container{ href: "#", data: { toggle: "dropdown" } }
    = image_tag("https://www.gravatar.com/avatar/#{current_user.gravatar_hash}?s=25", class: 'user-dropdown-gravatar', alt: '')
    &nbsp; #{current_user.name}
  %ul.dropdown-menu.dropdown-menu-right
    %li
      = dropdown_item_link edit_profile_path do
        %i.fa.fa-user
        %span My Profile
    %li
      = link_to destroy_user_session_path, method: :delete,
        class: 'dropdown-item' do
        %i.fa.fa-sign-out
        %span Sign Out
