%tr{ id: "track_#{track.id}" }
  %td= track.name
  %td= truncate(track.description, length: 60)
  %td
    -if track.guidelines.present?
      = link_to "#", data: { toggle: "modal", target: "#track-guidelines-#{track.id}" } do
        %span.fa.fa-list-alt

      .modal.fade{ role: 'dialog', tabindex: '-1', id: "track-guidelines-#{track.id}", 'aria-labelledby': "track-guidelines-#{track.id}-label" }
        .modal-dialog{ role: 'document' }
          .modal-content
            .modal-header
              %h3.modal-title{ id: "track-guidelines-#{track.id}-label" }= "#{track.name} Guidelines"
              %button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close' }
                %span{ 'aria-hidden': 'true' } &times;
            .modal-body
              = track.guidelines

  - unless !current_user.organizer_for_event?(event)
    %td
      .pull-right
        = link_to "Edit", edit_event_staff_track_path(event, track), remote: true,
          class: "btn btn-primary btn-sm"
        = link_to "Remove", event_staff_track_path(event, track),
          method: :delete,
          remote: true,
          data: { confirm: "Are you sure you want to remove this track?" },
          class: "btn btn-danger btn-sm"
