%nav.navbar.fixed-top.navbar-expand-md.navbar-light.bg-light.cfp-subnavbar
  .cfp-subnavbar-inner
    %ul.navbar-nav.mainnav
      %li.nav-item{class: subnav_item_class("event-staff-dashboard-link")}
        = link_to event_staff_path, class: 'nav-link' do
          %i.fa.fa-dashboard
          %span Dashboard
      %li.nav-item{class: subnav_item_class("event-staff-info-link")}
        = link_to event_staff_info_path, class: 'nav-link' do
          %i.fa.fa-info-circle
          %span Info
      %li.nav-item{class: subnav_item_class("event-staff-teammates-link")}
        = link_to event_staff_teammates_path, class: 'nav-link' do
          %i.fa.fa-users
          %span Team
      %li.nav-item{class: subnav_item_class("event-staff-config-link")}
        = link_to event_staff_config_path, class: 'nav-link' do
          %i.fa.fa-wrench
          %span Config
      %li.nav-item{class: subnav_item_class("event-staff-guidelines-link")}
        = link_to event_staff_guidelines_path, class: 'nav-link' do
          %i.fa.fa-list
          %span Guidelines
      %li.nav-item{class: subnav_item_class("event-staff-speaker-emails-link")}
        = link_to event_staff_speaker_email_notifications_path, class: 'nav-link' do
          %i.fa.fa-envelope-o
          %span Speaker Emails
