.row.event-info-bar
  .col-md
    .event-info.event-info-dense
      %strong.event-title= event.name
      - if event.start_date? && event.end_date?
        %span.event-meta
          %i.fa.fa-fw.fa-calendar
          = event.date_range
  .col-md
    .event-info.event-info-dense
      %span{:class => "event-meta event-status-badge event-status-#{event.status}"}
        CFP
        = event.status
      - if event.open?
        %span.event-meta
          CFP closes:
          %strong= event.closes_at(:month_day_year)
  .col-md.text-right
    .btn-nav
      = smart_return_button
      = link_to "Next Proposal", event_staff_program_proposal_path(uuid: "PLACEHOLDER"), class: "next-proposal btn btn-primary btn-sm", data: {"proposal-uuid" => proposal.uuid }

%article
  %header.page-header.page-header-slim
    .row.align-items-start
      .col-md-7
        %h1= proposal.title
      .col-md-5.text-right
        .proposal-info-bar
          .proposal-description
            .proposal-meta-item.proposal-meta-item--inline
              %strong.proposal-meta-item__label Status
              .proposal-meta-item__value.proposal-status #{proposal.state_badge(small: true)}
            %span.state-buttons #{proposal.state_buttons(show_hard_reset: true)}

    .row.align-items-start.proposal-info-bar
      .col-sm.proposal-meta-item
        %strong.proposal-meta-item__label #{ 'Speaker'.pluralize(proposal.speakers.count) }
        .proposal-meta-item__value= proposal.speakers.collect { |speaker| speaker.name }.join(', ')

      - if proposal.tags.present?
        .col-sm.proposal-meta-item
          %strong.proposal-meta-item__label Tags
          .proposal-meta-item__value #{proposal.tags_badges}

      .col-sm-2.proposal-meta-item
        %strong.proposal-meta-item__label Format
        .proposal-meta-item__value
          #current-format.proposal-meta-item__value__edit-region
            #format-name.proposal-meta-item__value__edit-region__text #{proposal.session_format_name}
            #edit-format-icon.proposal-meta-item__value__edit-region__icon.fa.fa-pencil
          #edit-format-wrapper.d-none.proposal-meta-item__value__edit-region
            .proposal-meta-item__value__edit-region__text
              = render 'shared/proposals/inline_format_edit', proposal: proposal
            #cancel-format-editing.proposal-meta-item__value__edit-region__icon.fa.fa-undo

      .col-sm-2.proposal-meta-item
        %strong.proposal-meta-item__label Track
        .proposal-meta-item__value
          #current-track.proposal-meta-item__value__edit-region
            #track-name.proposal-meta-item__value__edit-region__text #{proposal.track_name}
            #edit-track-icon.proposal-meta-item__value__edit-region__icon.fa.fa-pencil
          #edit-track-wrapper.d-none.proposal-meta-item__value__edit-region
            .proposal-meta-item__value__edit-region__text
              = render 'shared/proposals/inline_track_edit', proposal: proposal
            #cancel-track-editing.proposal-meta-item__value__edit-region__icon.fa.fa-undo

      .col-sm-4.proposal-meta-item
        %strong.proposal-meta-item__label Reviewer Tags
        .proposal-meta-item__value
          .proposal-meta-item__value__edit-region
            .proposal-reviewer-tags.proposal-meta-item__value__edit-region__text
              - if proposal.review_tags.present?
                #{proposal.review_tags_badges}
              - else
                %em None
            - if allow_review?(proposal)
              #edit-tags-icon.proposal-meta-item__value__edit-region__icon.fa.fa-pencil
          #review-tags-form-wrapper.d-none.proposal-meta-item__value__edit-region
            = render 'shared/proposals/tags_form', locals: { event: event, proposal: proposal }

  .row
    .col-md-4
      = render partial: 'proposals/contents', locals: { proposal: proposal }

    %section.col-md-4
      .widget.widget-card.flush-top
        .widget-header
          %h3 Other Proposals
        .widget-content
          = render partial: 'other_proposals', locals: { event: event, other_proposals: @other_proposals }

        .widget-header
          %h3 Speakers
        .widget-content
          = render partial: 'staff/proposals/speakers', locals: { speakers: proposal.speakers }

      .widget.widget-card.flush-top
        .widget-header
          %i.fa.fa-comments
          %h3.comments-heading= pluralize(proposal.public_comments.count, 'Public Comment')
        .widget-content
          = render partial: 'proposals/comments', locals: { proposal: proposal, comments: proposal.public_comments }

          - if proposal.accepted?
            .widget-header
              %h3 Confirmation Notes
            .widget-content
              = render partial: 'proposals/confirmation_notes', locals: {proposal: proposal, notes: proposal.confirmation_notes}

    %section.col-md-4
      .widget.widget-card.widget-card-alt.flush-top
        .widget-header
          %h3 Review
        .widget-content
          = render partial: 'shared/proposals/rating_form', locals: { event: event, proposal: proposal, rating: @rating }

        .internal-comments
          .widget-header
            %i.fa.fa-comments
            %h3.comments-heading= pluralize(proposal.internal_comments.count, 'Internal Comment')
          .widget-content
            = render partial: 'proposals/comments', locals: { proposal: proposal, comments: proposal.internal_comments }
