.form-row
  = f.input :name, placeholder: 'ex: Crab Tree Suite', autofocus: true,
      wrapper_html: { class: 'col-sm-6' }
  = f.input :capacity, placeholder: "ex: 300",
      wrapper_html: { class: 'col-sm-3' }
  = f.input :grid_position, placeholder: "ex: 1",
      wrapper_html: { class: 'col-sm-3' }
= f.input :address, placeholder: "ex: 2500 Pleasant St. Orlando, FL 90080"
.form-row
  = f.input :room_number, placeholder: "ex: 1234 suite 3",
      wrapper_html: { class: 'col-sm-6' }
  = f.input :level, placeholder: "ex: level 3",
      wrapper_html: { class: 'col-sm-6' }
