%tr{ id: "room_#{room.id}" }
  %td= room.name
  %td= room.room_number
  %td= room.address
  %td= room.level
  %td= room.capacity
  %td= room.grid_position
  %td.actions
    = link_to 'Edit', '#', class: 'btn btn-primary btn-sm',
      data: { toggle: 'modal', target: "#room-edit-#{room.id}" }

    = link_to 'Remove', event_staff_schedule_room_path(event, room),
      method: :delete,
      remote: true,
      data: { confirm: "Are you sure you want to remove this room?" },
      class: 'btn btn-danger btn-sm'

    .modal.fade{ role: 'dialog', tabindex: '-1', id: "room-edit-#{room.id}", 'aria-labelledby': "room-edit-#{room.id}-label" }
      .modal-dialog{ role: 'document' }
        .modal-content
          = simple_form_for [ event, :staff, :schedule, room ], remote: true do |f|
            .modal-header
              %h3.modal-title{ id: "room-edit-#{room.id}-label" } Edit Room
              %button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close' }
                %span{ 'aria-hidden': 'true' } &times;
            .modal-body
              .errors
              = render partial: 'staff/rooms/form', locals: { room: room, f: f }
            .modal-footer
              .btn-toolbar
                %button.pull-right.btn.btn-primary{:type => "submit"} Save
                %button.btn.btn-secondary{"data-dismiss" => "modal"} Cancel
